{% load i18n %}
{% if request.user.admin == True or request.user.entreprise == True%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard | kapver.com</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'logo/favicon.ico'%}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'logo/favicon.ico'%}" type="image/x-icon">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static 'logo/kamga.jpg' %}" alt="" style="width: 120px;">
        {% comment %} <span class="d-none d-lg-block">NiceAdmin</span> {% endcomment %}
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    {% comment %} <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar --> {% endcomment %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          {% comment %} <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon --> {% endcomment %}

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            {% comment %} <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li> {% endcomment %}
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          {% comment %} <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon --> {% endcomment %}

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-1.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-2.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{% static 'assets/img/messages-3.jpg' %}" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!--<img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">-->
            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <!--<li class="dropdown-header">-->
            <!--  <h6>Kevin Anderson</h6>-->
            <!--  <span>Web Designer</span>-->
            <!--</li>-->
            <li>
              <hr class="dropdown-divider">
            </li>

            <!--<li>-->
            <!--  <a class="dropdown-item d-flex align-items-center" href="users-profile.html">-->
            <!--    <i class="bi bi-person"></i>-->
            <!--    <span>My Profile</span>-->
            <!--  </a>-->
            <!--</li>-->
            <li>
              <hr class="dropdown-divider">
            </li>

             <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin">
                <i class="bi bi-gear"></i>
                <span>Umfallen</span>
              </a>
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="accounts/email/">
                <i class="bi bi-gear"></i>
                <span>email</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="accounts/password/reset/">
                <i class="bi bi-question-circle"></i>
                <span>password</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/accounts/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>{% trans "Deconnexion" %}</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
   {% block aside %}
  <aside id="sidebar" class="sidebar">

  {% for i in messages %}
  <h1 class="alert alert-info"> {% blocktrans %}{{i}} {% endblocktrans %}</h1>
  {% endfor %}
{% if request.user.admin == True %}
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>{% trans "Dashboard" %}</span>
        </a>
      </li><!-- End Dashboard Nav -->


      {% comment %} {% if request.user.admin == True %} {% endcomment %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>{% trans "Candidature" %}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'candidat' %}">
              <i class="bi bi-circle"></i><span>{% trans "Candidats offre" %}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'recruteur' %}">
              <i class="bi bi-circle"></i><span>{% trans "Recruteurs" %}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'candidature_user' %}">
              <i class="bi bi-circle"></i><span>{% trans "Infos candidat" %}</span>
            </a>
          </li>

        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>{% trans "Entreprises" %}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

         {% for i in entrep %}
          <li>
            <a href="detail_entreprise/{{i.pk}}">
              <i class="bi bi-circle"></i><span>  {% blocktrans %}{{i.nom_entreprise}}{% endblocktrans %}</span>
            </a>
          </li>

          {% endfor %}

        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>{% trans "Employers" %}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>

            {% for em in emp %}
            <a href="detail_employer/{{em.pk}}">
              <i class="bi bi-circle"></i><span> {% blocktrans %}{{em.nom}}{% endblocktrans %}</span>
            </a>
              {% endfor %}
          </li>

        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>{% trans "Documents" %}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'facturier' %}">
              <i class="bi bi-circle"></i><span>{% trans "Factures" %}</span>
            </a>
          </li>

          <li>
            <a href="{% url 'bilden' %}">
              <i class="bi bi-circle"></i><span>{% trans "bilden" %}</span>
            </a>
          </li>


          <li>
            <a href="{% url 'ficheapprouver' %}">
              <i class="bi bi-circle"></i><span>{% trans "genehmigtes Blatt" %}</span>
            </a>
          </li>


          <li>
            <a href="{% url 'dokumente' %}">
              <i class="bi bi-circle"></i><span>{% trans "meine Dokumente" %}</span>
            </a>
          </li>

        </ul>
      </li>


      <!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>{% trans "Collaborateurs" %}</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'mescollaborations' %}">
              <i class="bi bi-circle"></i><span>{% trans "Collaborateurs" %}</span>
            </a>
          </li>


        </ul>
      </li><!-- End Charts Nav -->







    </ul>

     {% elif request.user.entreprise == True %}
     <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>{% trans "Dashboard" %}</span>
        </a>
      </li><!-- End Dashboard Nav -->


      {% comment %} <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Entreprises</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'candidat' %}">
              <i class="bi bi-circle"></i><span>Candidats offre</span>
            </a>
          </li>
          <li>
            <a href="{% url 'recruteur' %}">
              <i class="bi bi-circle"></i><span>Recruteurs</span>
            </a>
          </li>
          <li>
            <a href="{% url 'candidature_user' %}">
              <i class="bi bi-circle"></i><span>Infos candidat</span>
            </a>
          </li>

        </ul>
      </li><!-- End Components Nav --> {% endcomment %}

      {% comment %} <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Entreprises</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

         {% for i in entrep %}
          <li>
            <a href="detail_entreprise/{{i.pk}}">
              <i class="bi bi-circle"></i><span>{{i.nom_entreprise}}</span>
            </a>
          </li>

          {% endfor %}

        </ul>
      </li><!-- End Forms Nav --> {% endcomment %}

      {% comment %} <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Offres</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'tables_general' %}">
              <i class="bi bi-circle"></i><span>Offre 1</span>
            </a>
          </li>

        </ul>
      </li><!-- End Tables Nav --> {% endcomment %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Documents</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'signature' %}">
              <i class="bi bi-circle"></i><span> {% trans "creer signature" %}</span>
            </a>
          </li>

          <li>
            <a href="{% url 'fiche_presence' %}">
              <i class="bi bi-circle"></i><span> {% trans "fiche presence" %}</span>
            </a>
          </li>


        </ul>
      </li><!-- End Charts Nav -->


      {% comment %} <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
            </a>
          </li>


        </ul>
      </li><!-- End Icons Nav --> {% endcomment %}

      {% comment %} <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav --> {% endcomment %}
{% comment %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-error-404.html">
          <i class="bi bi-dash-circle"></i>
          <span>Error 404</span>
        </a>
      </li><!-- End Error 404 Page Nav --> {% endcomment %}

      {% comment %} <li class="nav-item">
        <a class="nav-link collapsed" href="pages-blank.html">
          <i class="bi bi-file-earmark"></i>
          <span>Blank</span>
        </a>
      </li><!-- End Blank Page Nav --> {% endcomment %}

    </ul>
{% else %}
<ul class="sidebar-nav" id="sidebar-nav">

  <li class="nav-item">
    <a class="nav-link " href="{% url 'dashboard' %}">
      <i class="bi bi-grid"></i>
      <span>{% trans "Dashboard" %}</span>
    </a>
  </li><!-- End Dashboard Nav -->


  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-menu-button-wide"></i><span>{% trans "Candidature" %}</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="{% url 'candidat' %}">
          <i class="bi bi-circle"></i><span>{% trans "Candidats offre" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'recruteur' %}">
          <i class="bi bi-circle"></i><span>{% trans "Recruteurs" %}</span>
        </a>
      </li>
      <li>
        <a href="{% url 'candidature_user' %}">
          <i class="bi bi-circle"></i><span>{% trans "Infos candidat" %}</span>
        </a>
      </li>

    </ul>
  </li><!-- End Components Nav -->



  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-journal-text"></i><span>{% trans "Entreprises" %}</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

     {% for i in entrep %}
      <li>
        <a href="detail_entreprise/{{i.pk}}">
          <i class="bi bi-circle"></i><span>{% blocktrans %}{{i.nom_entreprise}} {% endblocktrans %}</span>
        </a>
      </li>

      {% endfor %}

    </ul>
  </li><!-- End Forms Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-layout-text-window-reverse"></i><span>{% trans "Offres" %}</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="{% url 'tables_general' %}">
          <i class="bi bi-circle"></i><span>Offre 1</span>
        </a>
      </li>

    </ul>
  </li><!-- End Tables Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-bar-chart"></i><span>{% trans "Documents" %}</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="charts-chartjs.html">
          <i class="bi bi-circle"></i><span>{% trans "Factures" %}</span>
        </a>
      </li>


    </ul>
  </li><!-- End Charts Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-gem"></i><span>Icons</span><i class="bi bi-chevron-down ms-auto"></i>
    </a>
    <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      <li>
        <a href="icons-bootstrap.html">
          <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
        </a>
      </li>
      <li>
        <a href="icons-remix.html">
          <i class="bi bi-circle"></i><span>Remix Icons</span>
        </a>
      </li>
      <li>
        <a href="icons-boxicons.html">
          <i class="bi bi-circle"></i><span>Boxicons</span>
        </a>
      </li>
    </ul>
  </li><!-- End Icons Nav -->

  <li class="nav-heading">Pages</li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="users-profile.html">
      <i class="bi bi-person"></i>
      <span>Profile</span>
    </a>
  </li><!-- End Profile Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-faq.html">
      <i class="bi bi-question-circle"></i>
      <span>F.A.Q</span>
    </a>
  </li><!-- End F.A.Q Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-contact.html">
      <i class="bi bi-envelope"></i>
      <span>Contact</span>
    </a>
  </li><!-- End Contact Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-register.html">
      <i class="bi bi-card-list"></i>
      <span>Register</span>
    </a>
  </li><!-- End Register Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-login.html">
      <i class="bi bi-box-arrow-in-right"></i>
      <span>Login</span>
    </a>
  </li><!-- End Login Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-error-404.html">
      <i class="bi bi-dash-circle"></i>
      <span>Error 404</span>
    </a>
  </li><!-- End Error 404 Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="pages-blank.html">
      <i class="bi bi-file-earmark"></i>
      <span>Blank</span>
    </a>
  </li><!-- End Blank Page Nav -->

</ul>
{% endif %}

  </aside><!-- End Sidebar-->

  {% endblock %}

  {% block main %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>{% trans "Dashboard" %}</h1>
      <nav>
        <ol class="breadcrumb">
          {% comment %} <li class="breadcrumb-item"><a href="index.html">Home</a></li> {% endcomment %}
          {% comment %} <li class="breadcrumb-item active">Dashboard</li> {% endcomment %}
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="{% url 'signature' %}">signature</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                {% if request.user.entreprise == True %}

                <div class="card-body">
                  <h5 class="card-title">total Fiche </h5>

                  <div class="d-flex align-items-center">

                    <div class="ps-3">
                      <h6>{{verify}}</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">12</span> <span class="text-danger small pt-2 ps-1">fiche non signer</span> {% endcomment %}

                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'conges_travailleur' %}">Anfrage hinterlassen</a></h5>

                  <div class="d-flex align-items-center">

                    <div class="ps-3">
                      <h6>{{conges}}</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">12</span> <span class="text-danger small pt-2 ps-1">fiche non signer</span> {% endcomment %}

                    </div>
                  </div>
                </div>

                {% else %}
                <div class="card-body">
                  <h5 class="card-title">{% trans "Total Fiche " %}</h5>

                  <div class="d-flex align-items-center">

                    <div class="ps-3">
                      <h6>{% blocktrans %}{{number_candidature}} {% endblocktrans %}</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">12</span> <span class="text-danger small pt-2 ps-1">fiche non signer</span> {% endcomment %}

                    </div>
                  </div>
                </div>
                {% endif %}


              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                {% comment %} <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModalLong">Ajouter signature</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div> {% endcomment %}

                {% if request.user.entreprise == True %}
                <div class="card-body" type="button">
                  <h5 class="card-title">{% trans "Fiche non signer" %}</h5>

                  <div class="d-flex align-items-center">
                    {% comment %} <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div> {% endcomment %}
                    <div class="ps-3">
                      <h6>{{verify2}}</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">8</span> <span class="text-danger small pt-2 ps-1">non lu</span> {% endcomment %}

                    </div>
                  </div>
                </div>

                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Fiche presence" %}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                          <div class="modal-body">
                              <!-- 2 column grid layout with text inputs for the first and last names -->


                              <div class="row mb-4">
                                  <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                      <input type="file" required name='signature'id="form3Example1" class="form-control" />
                                      <label class="form-label" for="form3Example1">{% trans "Ma signature" %}</label>
                                    </div>
                                  </div>

                                </div>
                                <div data-mdb-input-init class="form-outline mb-4">entreprise
                                  <select name="entreprise" id="" class="form-control" required>
                                   <option></option>
                                   {% for ent in entreprise %}

                                   <option translate="no">{{ent.nom_entreprise}}</option>
                                   {% endfor %}
                                  </select>
                                 </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
                {% else %}
                <div class="card-body">
                  <h5 class="card-title">Recruteurs</h5>

                  <div class="d-flex align-items-center">
                    {% comment %} <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div> {% endcomment %}
                    <div class="ps-3">
                      <h6>{{number_recrut}}</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">8</span> <span class="text-danger small pt-2 ps-1">non lu</span> {% endcomment %}

                    </div>
                  </div>
                </div>
                {% endif %}

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">



                {% if request.user.entreprise == True %}

                <div class="card-body" style="display: none;">
                  <h5 class="card-title">{% trans "Employes" %} </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>6</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> {% endcomment %}

                    </div>
                  </div>

                </div>
                {% else %}
                <div class="card-body">
                  <h5 class="card-title">{% trans "Employes" %} </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>6</h6>
                      {% comment %} <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> {% endcomment %}

                    </div>
                  </div>

                </div>
                {% endif %}
              </div>

            </div><!-- End Customers Card -->


            <!-- Reports -->



          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->


              </div>

            </div>
          </div><!-- End Recent Activity -->

          <!-- Budget Report -->





        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}

  <!-- ======= Footer ======= -->
  {% block signature %}
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Kapver</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://www.github.com/chuina12">Thierry</a>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock%}
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>


{% else %}

{% url 'fiche_employer' as url_redirection %}

<script>
  {% autoescape off %}
      window.location.href = "{{ url_redirection|safe }}";
  {% endautoescape %}
</script>

{% endif %}