{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kapver.com</title>
</head>
<body>


<img src="http://www.image-heberg.fr/files/17093920101393173413.jpg" alt="" style="width: 200px; height: 100px;"> <br><br>



{{message}}
<br><br><br> <br><br> <br><br><br><br>

<i>{% trans "Kapver, ein deutsches Unternehmen, ist darauf spezialisiert, Arbeitssuchende mit spezifischen Geschäftsanforderungen zu verbinden. Sie rekrutiert Fachkräfte aus der ganzen Welt, um sie deutschen Unternehmen zur Verfügung zu stellen. Kurz gesagt, Kapver erleichtert die internationale Rekrutierung, indem es berufliche Möglichkeiten zwischen Arbeitssuchenden und deutschen Unternehmen fördert.</br> " %}</i>
<i><a href="https://www.kapver.com">Kapver.com</a></i>
<center>
<!--<img src="http://www.image-heberg.fr/files/17093923651685280674.png" alt="signature kapver (1).png" style="width: 100%;" />-->

  </center>
</body>
</html>