{% extends '../index.html' %}

{% block body %}

{% load i18n %}

<br><br><br><br><br>
<center><h1>Conditions d'acceptation</h1></center>
<center><p style="width: 80%;">

    {% trans "Kapver, entreprise allemande, se spécialise dans la mise en relation de chercheurs d'emploi avec les besoins spécifiques des entreprises. Cette société recrute des talents du monde entier pour les mettre au service d'entreprises basées en Allemagne. Pour ceux désirant immigrer en Allemagne pour un contrat de travail, il est nécessaire de démontrer un niveau de langue B2 et de présenter les diplômes requis en fonction des besoins spécifiques de l'entreprise. En somme, Kapver facilite le recrutement international en favorisant des opportunités professionnelles entre les chercheurs d'emploi et les entreprises allemandes." %}

</p></center>
 {% endblock %}